form {
    width: 40%;
    margin: auto;
    display: grid;
}

label, .button {
    margin-top: 20px;
    padding: 5px;

}

.button {
    width: 10vh;

}

h1 {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;

}

.forms {
    background-color: #94fbab;
    width: 50%;
    margin: -70px auto 50px auto;
    border-radius: 50px;
    padding: 60px;
    box-shadow: 5px 10px 5px #000300;

}

h2 {
    text-align: center;
}

.form-control {
    height: 25px;
    border-radius: 5px;
    border-color: #ff0a3f;
    background-color: white;
}

#profile_pic-clear_id {
    margin-top: 10px;

}

#id_profile_pic, #id_img_post {
    padding: 10px;
}

.textarea {
    padding: 25px;
    border-radius: 5px;
    border-color: #ff0a3f;
}