
.middle {
    width: 50%;
    margin: auto;
}

.post-details {
    width: 80%;
    padding: 0 0 50px 0;

    margin: auto;
}

.title {
    text-align: center;
}

.comments {
    padding: 5px;
    box-shadow: 0 0 10px 2px #94fbab;
}

.comments_text_area {
    width: 80%;
    margin: auto;
    display: flex;

    height: 60px;
    padding: 5px;
}

.form_comment {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: grid;
}

.all-comments {
    width: 80%;
    margin: auto;
    text-align: center;

}

.all-comments h2, .form_comment h2 {
    margin: 20px auto;
}

.all-comments p {
    margin: auto;
}

.button-comment {
    display: flex;
    margin: auto;

}

.buttons-align {
    margin: auto;
    width: 50%;
    text-align-last: center;
    display: flex;
}

.edit-button {
    margin: auto 0 0 auto;
    display: flex;

}

.delete-button {
    margin: auto auto 0 0;
    display: flex;

}

.details-button {
    display: flex;
    margin: auto;

}

.top-post, .bottom-post {
    width: 100%;
    min-height: 60px;
    /*background-color: #94fbab;*/
}

.bottom-post {
    margin-top: 10px;
}

.posts {
    margin-top: 50px;
    background-color: ghostwhite;
    box-shadow: 0 0 10px 2px #94fbab;

}


.like-level1, .dislike-level1, .share, .comment {
    font-size: 4vh;
    margin-left: 2%;
    cursor: pointer;
    float: left;


}

.bottom-post .share, .count-likes {
    float: right;
    margin-right: 3%;
    cursor: pointer;
}


.count-likes {
    font-size: 1.2vw;
    margin-top: 1%

}

.top-post h4 {
    margin-left: 60px;
    margin-top: 4px;
}

/*.info-ifFollow {*/
/*    display: none;*/
/*    transition: 1.4s;*/
/*    margin-left: 30px;*/
/*}*/


/*.info-ifFollow-active {*/
/*    display: block;*/
/*    transition: 1.4s;*/
/*}*/

.post-menu {
    float: right;
    font-size: 2vw;
    cursor: pointer;
    margin-top: 8px;
}

.top-post .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    /* margin-bottom: -137px; */
    float: left;
    cursor: pointer;
}

#more {
    display: none;
}

.time-posted {
    width: 13%;
    margin: auto;
    float: right;

}

.posted-text {
    padding: 7px;


}

.post-img {
    width: 100%;
    text-align: center;
    background-color: #000300;
    margin-top: 1%;
}

.post-img img {
    min-width: 55%;
    max-width: 85%;

}

.description {
    width: 10px;
    font-size: 15px;
}

.extra_content {
    display: none;
    float: left;
    margin-top: 10px;
}

.read_more {
    display: block;
    width: 50px;
    margin-top: 30px;
    background-color: #94fbab;
    border: none;

}

.less {
    float: left;
    margin-top: 10px;
}

.user {
    /*width: 52px;*/

}

.show {
    background-color: black;
}

.comment_box {
    width: 80%;
    display: contents;

}

.title-box {
    width: 50%;
    margin: auto;
    padding: 25px;
}

.created_by {
    padding: 5px;
    font-size: 2vh;
    float: left;

}