{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block title %} Edit Profile {% endblock %}
{% block site_content %}
    <div class="root">
        <div class="content"><h1>Edit your profile</h1></div>
        <div class="forms">
            <h2>Edit:</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.errors }}
                {{ form }}
                <button class="button button-success">Edit!</button>
            </form>

        </div>
    </div>
{% endblock %}