<div class="fixed-navbar">
    <nav>
        <div class="logo">
            <a href="{% url 'landing page' %}"><img style="display: none" class="logo-img" src="" alt="logo">Laugh
                Center</a>
        </div>
        <ul class="nav-links">
            {% if user.is_authenticated %}

                {% if user.is_superuser %}
                    <li>
                        ADMIN
                    </li>
                {% else %}

                    <li>
                        <a href="{% url 'profile' user.id %}"> <img src="{{ user.profile.profile_pic.url }}"
                                                                    class="profile-img" alt="profile-img"></a>
                    </li>
                {% endif %}


            {% endif %}
            <li>
                <a title="Home" href="{% url 'landing page' %}" class="fi-home"></a>
            </li>
            {% if user.is_authenticated %}
                <li>

                    <a title="Creat a post" href="{% url 'create post' user.id %}" class="fi-page-add"></a>

                </li>
            {% endif %}
            <li>
                <a title="All posts" href="{% url 'posts' %}" class="fi-page-multiple"></a>

            </li>
            {% if user.is_superuser %}
                <li>

                    <a title="Admin page" href="{% url 'admin:index' %}" class="fi-wrench"></a>

                </li>
                <li>

                    <a title="Admin serializer" href="{% url 'api-root' %}" class="fi-widget"></a>

                </li>
            {% endif %}

            <li>
                {% if user.is_authenticated %}
                    <a title="Log out" href="{% url 'logout user' %}" class="fi-arrow-right"></a>
                {% else %}
                    <a title="Log in" href="{% url 'login user' %}" class="fi-arrow-left"></a>
                {% endif %}
            </li>

        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <!--  <div class="underline"></div>-->
    </nav>
    <div class="underline"></div>
</div>
<br>


