{% for post in posts %}
    <div class="posts">
        <div class="top-post">

            <div class="posted-text">
                <div class="date">
                    <h5 class="time-posted">{{ post.date }}</h5>
                </div>
                <div class="profile-img-box">
                    <img src="{{ post.created_by.profile.profile_pic.url }}" class="profile-img"
                         alt="profile-img">
                </div>
                <div class="created_by">
                    <h5 class="user">{{ post.created_by.profile.first_name }} {{ post.created_by.profile.last_name }}</h5>
                </div>
                <div class="title-box">
                    <p class="title"> {{ post.title }} </p>
                </div>
                <div class="description">
                    <p class="less-{{ post.id }} less"> {{ post.description|safe|truncatewords:5 }} </p>

                    <p class="extra_content-{{ post.id }} extra_content">{{ post.description }}</p>
                    <button onclick="changeClass('{{ post.id }}')"
                            class="read_more-{{ post.id }} read_more button"><i
                            class="fi-arrow-down"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="post-img">
            <img src="{{ post.img_post.url }}" alt="post img">
        </div>
        <div class="bottom-post">
            <div class="likes-and-comment">
                <a href="{% url 'like post' post.pk %}" class="fi-like like-level1"></a>
                <a href="{% url 'dislike post' post.pk %}" class="fi-dislike dislike-level1"></a>
                <a href="{% url 'post detail' post.pk %}?#all-comments" class="fi-comment-quotes comment"></a>
            </div>

            <i class="count-likes">Likes: {{ post.likes.count }}</i>
            <br>
            <br>
            {% if user.id == post.created_by.id or user.is_superuser %}
                <br>
                <div class="buttons-align">
                    <div class="edit-button">
                        <a class="button-success" href="{% url 'post edit' post.pk %}">
                            Edit</a>
                    </div>

                    <div class="delete-button">
                        <a class="button-error" href="{% url 'post delete' post.pk %}">
                            Delete</a>
                    </div>

                </div>
            {% endif %}
            <br>
            <div class="buttons-align">
                <div class="details-button">
                    <a class="button-success"
                       href="{% url 'post detail' post.pk %}"> Details</a>
                </div>
            </div>

            <br>
        </div>

    </div>

    <br>
    <div class="underline"></div>
{% endfor %}
