{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}"> {% endblock %}
{% block title %} Home Page {% endblock %}
{% block site_content %}
    <div class="root">
        <div class="content">
            <h1>Welcome to Laugh Center!</h1>

            <div class="column middle">

                {% for p in posts %}
                    <div class="posts">
                        <div class="top-post">
                            <div class="post-menu">
                            </div>

                            <div class="posted-text">

                                <h5 class="time-posted">{{ p.date }}</h5>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'profile' p.created_by.pk %}">
                                {% else %}
                                    <a href="{% url 'user register' %}">
                                {% endif %}
                                <img src="{{ p.created_by.profile.profile_pic.url }}" class="profile-img"
                                     alt="profile-img">
                                </a>
                                <h5 class="user">{{ p.created_by.username }}:</h5>
                                <p class="less-{{ p.id }} less"> {{ p.description|safe|truncatewords:5 }} </p>
                                <p class="extra_content-{{ p.id }} extra_content">{{ p.description }}</p>
                                <button onclick="changeClass('{{ p.id }}')"
                                        class="read_more-{{ p.id }} read_more button"><i class="fi-arrow-down"></i>
                                </button>
                            </div>
                        </div>
                        <div class="post-img">
                            <img src="{{ p.img_post.url }}" alt="post img">
                        </div>
                        <div class="bottom-post">
                            <a href="" class="fi-like like-level1"></a>
                            <i class="fi-dislike dislike-level1"></i>
                            <i class="fi-comment-quotes comment"></i>
                            {#                            <i class="fi-share share"></i>#}
                            {% if user.id == p.created_by.pk %}
                                <button class="button-success"><a href="{% url 'post edit' p.pk %}"> Edit</a>
                                </button>
                                <button class="button-error"><a href="{% url 'post delete' p.pk %}"> Delete</a>
                                </button>
                            {% endif %}
                            <i class="count-likes">Likes: 0</i>
                        </div>
                        <div class="underline"></div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
    {% block script %}
        <script src="{% static 'js/posts.js' %}"></script>
    {% endblock %}
{% endblock %}
