{% extends 'common/site.html' %}
{% block title %} Home Page {% endblock %}
{% block site_content %}
    <div class="root">
        <div class="content">
            {% if user.is_authenticated %}
                <h1>Hello {{ user.profile.first_name }} {{ user.profile.last_name }}!</h1>
                <img src="{{ user.profile.profile_pic.url }}" alt="profile picture">
                <h1>Welcome to Laugh Center</h1>
            {% else %}
                <h1>Join Laugh Center</h1>
            {% endif %}
            <br>
            <p>Have fun with others users while creating most funniest posts and comments.</p>
            <br>

            <h3>Have fun!</h3>
            <br>
            {% if user.is_authenticated %}
                <div class="">
                    <a class="button-success" href="{% url 'create post' user.id %}">Create a post</a>
                    <span>or</span>
                    <a class="button-success" href="{% url 'posts' %}">Check all posts</a>
                </div>
            {% else %}
                <div class="">
                    <a href="{% url 'user register' %}">Register</a>
                    <span>or</span>
                    <a href="{% url 'login user' %}">Log in</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}