{% extends 'common/site.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">

{% endblock %}
{% block title %}Post Details{% endblock %}
{% block site_content %}
    <div class="root">
        <div class="post-details">
            <div class="posts">
                <div class="top-post">
                    <div class="post-menu">
                    </div>

                    <div class="posted-text">

                        <h5 class="time-posted">{{ p.date }}</h5>
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' p.created_by.pk %}">
                        {% else %}
                            <a href="{% url 'user register' %}">
                        {% endif %}
                        <img src="{{ p.created_by.profile.profile_pic.url }}" class="profile-img"
                             alt="profile-img">
                        </a>
                        <h5 class="user">{{ p.created_by.username }}:</h5>
                        <p class="title">Tittle:</p>
                        <br>
                        <p class="title"> {{ p.title }} </p>
                        <br>
                        <br>
                        <h5 class="d">Description:</h5>
                        <br>
                        <p class="text"> {{ p.description }} </p>
                    </div>
                </div>
                <div class="post-img">
                    <img src="{{ p.img_post.url }}" alt="post img">
                </div>
                <div class="bottom-post">
                    <a href="{% url 'like post' p.id %}" class="fi-like like-level1"></a>
                    <a href="{% url 'dislike post' p.id %}" class="fi-dislike dislike-level1"></a>
                    {% if user.id == p.created_by.pk %}
                        <div class=buttons-align>
                            <button class="button-success"><a href="{% url 'post edit' p.pk %}"> Edit</a>
                            </button>
                            <button class="button-error"><a href="{% url 'post delete' p.pk %}"> Delete</a>
                            </button>
                        </div>
                    {% endif %}
                    <i class="count-likes">Likes: {{ p.likes.count }}</i>
                    <i class="count-likes">Comments: {{ comments|length }}</i>
                    <br>
                    <br>
                    <div class="underline" style="margin-top: 50px"></div>

                    <div class="form_comment">
                        <h2>Comment:</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.errors }}
                            {{ form.comments }}
                            <br>
                            <button class="button-success button-comment">Comment
                            </button>

                        </form>
                    </div>
                    <div class="all-comments">
                        <h2>Comments:</h2>
                        <br>
                        {% for comm in comments %}
                            <p>{{ comm.user_comm.profile.first_name }} {{ comm.user_comm.profile.last_name }}</p>
                            <p> {{ comm.comments }}</p>
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="underline" style="margin-top: 50px"></div>
            </div>

        </div>

    </div>


{% endblock %}