{% extends 'common/site.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">

{% endblock %}
{% block title %}Post Details{% endblock %}
{% block site_content %}
    <div class="root">
        <div class="post-details">
            <div class="posts">
                <div class="top-post">
                    <div class="post-menu">
                    </div>

                    <div class="posted-text">
                        <div class="date">

                            <h5 class="time-posted">{{ p.date }}</h5>
                        </div>
                        <div class="profile-img-box">

                            <a href="{% url 'profile' p.created_by.pk %}">
                                <img src="{{ p.created_by.profile.profile_pic.url }}" class="profile-img"
                                     alt="profile-img">
                            </a>
                        </div>
                        <div class="created_by">
                            <h5 class="user">{{ p.created_by.username }}</h5>
                        </div>
                        <div class="title-box">

                            <p class="title">Tittle:</p>
                            <br>
                            <p class="title"> {{ p.title }} </p>
                        </div>

                        <div class="description">
                            <h5 class="description">Description:</h5>
                            <br>
                            <p class="text"> {{ p.description }} </p>
                        </div>
                    </div>
                </div>
                <div class="post-img">
                    <img src="{{ p.img_post.url }}" alt="post img">
                </div>
                <div class="bottom-post">
                    <a href="{% url 'like post' p.id %}" class="fi-like like-level1"></a>
                    <a href="{% url 'dislike post' p.id %}" class="fi-dislike dislike-level1"></a>
                    <i class="count-likes">Likes: {{ p.likes.count }}</i>
                    <i class="count-likes">Comments: {{ comments|length }}</i>
                    {% if user.id == p.created_by.pk %}
                        <br>
                        <br>
                        <div class=buttons-align>
                            <div class="edit-button">
                                <a class="button-success" href="{% url 'post edit' p.pk %}"> Edit</a>
                            </div>
                            <div class="delete-button">
                                <a class="button-error" href="{% url 'post delete' p.pk %}"> Delete</a>
                            </div>
                        </div>
                    {% endif %}

                    <br>
                    <br>
                    <div class="underline" style="margin-top: 50px"></div>

                    <div class="form_comment">
                        <h2>Comment:</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.errors }}
                            {{ form.comments }}
                            <br>
                            <button class="button-success button button-comment">Comment
                            </button>

                        </form>
                    </div>
                    <br>
                    <div class="all-comments">
                        <h2>Comments:</h2>
                        <br>

                        {% for comm in comments %}
                            <div class="comments">
                                <div class="date">

                                    <h5 class="time-posted">{{ p.date }}</h5>
                                </div>
                                <div class="created_by">
                                    <h5 class="user">{{ comm.user_comm.profile.first_name }} {{ comm.user_comm.profile.last_name }}</h5>
                                </div>


                                <div class="title-box">

                                    <br>
                                    <p class="title"> {{ comm.comments }} </p>
                                </div>
                            </div>


                            <div class="underline" style="margin-top: 25px"></div>
                            <br>
                            <br>

                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}