{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

{% endblock %}


{% block title %}Profile{% endblock %}
{% block site_content %}
    <div class="root">
        <div class="content">
            <div class="profile">

                <h1>{{ user.profile.first_name }} {{ user.profile.last_name }}</h1>

                <img class="profile-pic" src="{{ user.profile.profile_pic.url }}"
                     alt="profile image">
                <br>
                <h3>Bio:</h3>

                <p class="bio">{{ user.profile.bio }}</p>

                {% if user.id == pk %}
                    <button class="button-success"><a href="{% url 'edit profile' pk %}"> Edit</a></button>
                    <button class="button-error"><a href="{% url 'delete profile' pk %}"> Delete</a></button>
                {% endif %}
            </div>
            <div class="underline"></div>
            <div class="user_posts">

                <div class="column middle">
                    {% if user.id == pk %}
                        <h2>My Posts:</h2>
                    {% else %}
                        {% for created in posts|slice:'1' %}
                            <h2>Welcome
                                <br>
                                to
                                <br>
                                {{ created.created_by.profile.first_name }} {{ created.created_by.profile.last_name }}
                                posts:</h2>
                        {% endfor %}
                    {% endif %}
                    {% for post in posts %}
                        <div class="posts">
                            <div class="top-post">

                                <div class="posted-text">

                                    <h5 class="time-posted">{{ post.date }}</h5>
                                    <img src="{{ post.created_by.profile.profile_pic.url }}" class="profile-img"
                                         alt="profile-img">

                                    <h5 class="user">{{ post.created_by.username }}:</h5>
                                    <p class="less-{{ post.id }} less"> {{ post.description|safe|truncatewords:5 }} </p>
                                    <p class="extra_content-{{ post.id }} extra_content">{{ post.description }}</p>
                                    <button onclick="changeClass('{{ post.id }}')"
                                            class="read_more-{{ post.id }} read_more button"><i
                                            class="fi-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="post-img">
                                <img src="{{ post.img_post.url }}" alt="post img">
                            </div>
                            <div class="bottom-post">
                                <a href="" class="fi-like like-level1"></a>
                                <i class="fi-dislike dislike-level1"></i>
                                <i class="fi-comment-quotes comment"></i>
                                {#                                <i class="fi-share share"></i>#}

                                {% if user.id == pk %}
                                    <button class="button-success"><a href="{% url 'post edit' post.pk %}"> Edit</a>
                                    </button>
                                    <button class="button-error"><a href="{% url 'post delete' post.pk %}"> Delete</a>
                                    </button>
                                {% endif %}
                                <i class="count-likes">Likes: 0</i>
                            </div>
                            <div class="underline"></div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    {% block script %}
        <script src="{% static 'js/posts.js' %}"></script>
    {% endblock %}
{% endblock %}