{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

{% endblock %}


{% block title %}Profile{% endblock %}
{% block site_content %}
    <div class="root">
        <div class="content">
            <div class="profile">

                <h1>{{ user_profile.profile.first_name }} {{ user_profile.profile.last_name }}</h1>

                <img class="profile-pic" src="{{ user_profile.profile.profile_pic.url }}"
                     alt="profile image">
                <br>
                <h3>Bio:</h3>

                <p class="bio">{{ user_profile.profile.bio }}</p>

                {% if user_profile.id == pk %}
                    <button class="button-success">
                        <a class="button-success" href="{% url 'edit profile' pk %}">
                            Edit</a></button>
                    <button class="button-error">
                        <a class="button-error" href="{% url 'delete profile' pk %}">
                            Delete</a></button>
                {% endif %}
            </div>
            <div class="underline"></div>
            <div class="user_posts">

                <div class="column middle">
                    {% if user_profile.id == pk %}
                        <h2>My Posts:</h2>
                    {% else %}
                        {% for created in posts|slice:'1' %}
                            <h2>Welcome
                                <br>
                                to
                                <br>
                                {{ created.created_by.profile.first_name }} {{ created.created_by.profile.last_name }}
                                posts:</h2>
                        {% endfor %}
                    {% endif %}

                    {% include 'common/posts.html' %}

                </div>
            </div>
        </div>
    </div>


    {% block script %}
        <script src="{% static 'js/posts.js' %}"></script>
    {% endblock %}
{% endblock %}